.progress-lobby-wrapper {
  width: 40%;
  z-index: 3;
  height: 20%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 8%;
  margin-bottom: 7%;
}

.rocket-lobby-wrap {
  height: 35% !important;
  margin-top: 5%;
  z-index: 2;
  cursor: pointer;
}

.game-playable-container-wrapper {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
