@use '../../styles/vars';

.gamePlayableContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameCoefficientScale {
  width: 10%;
  display: flex;
  flex-direction: row;
  align-self: baseline;
}

.rocketGame {
  height: 20%;
  z-index: 2;
  margin-top: auto;
}
