.progress-lobby-wrapper {
    width: 40%;
    z-index: 3;
    height: 20%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 8%;
    margin-bottom: 7%;
}

.rocket-lobby-wrap {
    height: 35% !important;
    margin-top: 5%;
    z-index: 2;
    cursor: pointer;
}

.game-wrapper {
    width: 95%;
    height: 100%;
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.game-roof-row {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.game-settings {
    width: 20%;
}

.game-roof-tiles {
    width: 60%;
}

.game-middle-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.game-left-column, .game-right-column {
    width: 20%;
}

.game-playable-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}