@use 'src/styles/vars';

.betRoofTilesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.betRoofTilesContainer div {
  width: 9%;
  display: flex;
  flex-direction: column;
}

.betRoofTilesContainer div img {
  width: 100%;
}

.betRoofTilesContainer div span {
  width: 100%;
  margin-top: -30%;
  text-align: center;
  font: 100% vars.$fontName;
}