.rocketGame {
  height: 20%;
  z-index: 2;
  margin-top: auto;
}

.roundTimer {
  height: 30%;
  margin-top: auto;
}

.roundTimer span {
  font: 72px sans-serif;
  color: #08d3ff;
}

.playablePanelContainer {
  height: 35%;
}